/*titoli*/

@import url('https://fonts.googleapis.com/css?family=Antic+Slab');

/*sottotitoli*/

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/*menu*/

@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/*testo*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-family: 'Antic Slab', serif;
    font-size: 10em;
    font-weight: bold;
    color: #F8F9FA;
}
,
h2 {
    font-family: 'Libre Baskerville', serif;
    color: #F8F9FA;
}
,
h3 {
    font-family: 'Libre Baskerville', serif;
    color: #F8F9FA;
}
,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.nav-link {
    font-family: 'Fjalla One', sans-serif;
}
header.masthead {
    position: relative;
    background-color: #FFFFFF;
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../img/nature.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*    background-size: 900px 600px;*/
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 618px;
}
header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    /*    background-image: linear-gradient(65deg, rgba(0, 0, 0, 0.0) 30%, transparent 60%);*/
}
header.masthead button {
    font-size: 1rem;
}
header.masthead input {
    font-size: 1rem;
}
header.masthead label {
    font-size: 0.8rem;
}
header.masthead h1 {
    font-size: 2rem;
}
header.masthead h2 {
    font-size: 1rem;
}
@media (min-width: 768px) {
    header.masthead {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
    header.masthead h2 {
        font-size: 2rem;
    }
}
.showcase .showcase-text {
    padding: 1rem;
}
.showcase .showcase-text blockquote {
    font-size: 1rem;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #bed000;
    background-position: center;
    margin: 0px;
}
@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 3rem;
    }
    .showcase .showcase-text blockquote {
        font-size: 1.5rem;
    }
}
.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.features-icons .features-icons-item {
    max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}
.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.testimonials .testimonial-item {
    max-width: 18rem;
}
.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}
section.call-to-action button {
    font-size: 1rem;
}
section.call-to-action input {
    font-size: 1rem;
}
section.call-to-action label {
    font-size: 0.8rem;
}
section.call-to-action h2 {
    font-size: 1rem;
}
@media (min-width: 768px) {
    section.call-to-action h2 {
        font-size: 2rem;
    }
}
.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../img/uva-mani.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.quotation {
    font-size: 24px;
    margin: 0 auto;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
}
.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
}
.quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 3em;
}
